{% extends "base.html" %}
{% load static %}

{% block title %}- How to compile an App with Bitbucket.{% endblock %}

{% block more_head %}
{% endblock %}
{% block content %}
  <div class="col-md-12">
    <h1>How to compile an App with Bitbucket</h1><br>
    <h4>Bitbucket pipelines to build your App</h4>
    <p>
      <ol>
        <li>Enable pipelines by following instructions in the pipelines link on your fork after logging into
          your bitbucket account.</li>
        <li>Create a new App password with write permission to your repositories (keep it secret!)
            under the Settings option for your Bitbucket user account.</li>
        <li>Create a new repository variable BB_AUTH_STRING under Settings -> Repository variables for your fork.</li>
          Enter <code>&ltusername&gt:&ltapp password&gt</code> as its value, and check the "Secured" option to keep
          it private.
        <li>The bitbucket pipeline configuration file (bitbucket-pipelines.yml file) should be at the top level
          of your project source code repository should contain branch and custom pipelines.</li>
        <li>Within bitbucket, when you push a change to a branch with a name that matches one of the
        branch-specific patterns, then the pipeline for that branch runs. For example, if you push a branch to your
        fork that has branch name matching "IGBF-*", the corresponding "IGBF-" branch pipeline will run.</li>
        <li>To run a pipeline without a change getting pushed to your fork, you log into Bitbucket, visit the "branches"
           page on your fork, click the "..." button next to the branch, and select "Run pipeline for a branch."</li>
      </ol>
    </p>
    <h4>Copy the App jar file to the Downloads folder to create a public link</h4>
    <p>In the bitbucket pipeline configuration file (bitbucket-pipelines.yml) add the following line of code after
      cleaning and packaging your app.<br><br>
      <code>
      curl -X POST &quot;https://${BB_AUTH_STRING}@api.bitbucket.org/2.0/repositories/${BITBUCKET_REPO_OWNER}/${BITBUCKET_REPO_SLUG}/downloads&quot;<br>
      --form files=@&quot;target/${Bundle-symbolic-name}-${version}.jar;&quot;
      </code><br><br>
      Replace ${Bundle-symbolic-name} and ${version} with their respective values.
      This will create a jar file for the App in Downloads page of your fork in Bitbucket when the pipelines are
      run.
    </p>
    <h4>Copy the link to the jar file into the form field</h4>
    <p>Navigate to the Downloads page of your fork in Bitbucket. Locate the jar file for your app.
      Right click on the jar and select "Copy Link Address" or "Copy Link Location". Enter this copied link in the
      textbox with Label "Enter Link" on Submit App page in Appstore.
    </p>
    <h4>Submit your app for the automated, first stage of review</h4>
    <p> After entering the link in the form, click on Next. If everything is fine, the first stage of review will pass
      successfully. Verify the details of your app on this page and click on "It's all good. Submit my App" button.
      If something goes wrong, an error page will appear with details regarding the error message. You can fix the
      errors and try submitting the app again by following the steps above.</p>
  </div>
  <script type="text/javascript" src="{% get_static_prefix %}common/js/doc_link.js"></script>
{% endblock %}
