{% extends "apps/nav_panel.html" %}
{% load app_buttons %}

{% block main %}

<div class="row">
    <div class="col-lg-12">
        {% app_buttons downloaded_apps_pg releases %}
    </div>
</div>

{% endblock %}
