.stars {
    display:none;
}

/* Apps Tile CSS */
.box-part{
    height: 100%;
    min-height: 13.5rem;
    border-radius: 4px;
    padding:6px 14px;
    cursor: pointer;
    overflow: hidden;
    border: 0.5px solid #d6d6d6;
    border: 0.5px solid #d6d6d6;
}

.box-part:hover {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 0 1.2em rgba(0, 0, 0, 0.2);
    border: solid 0.5px rgba(0, 0, 0, 0.2);
}

.box-part:hover .stars {
    display: block;
}

.text{
    margin:20px 0px;
}

.custom-img {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 2px 2px 0px;
}

.true-divide {
    width:30%;
    height:100%;
}

.right-divide {
    float: right;
    position:absolute;
    max-height: 155px;
    overflow: hidden;
}

.desc-spaced p {
    font-size: 0.95rem;
    padding-bottom: 5px;
    display: block;
    line-height: 1.2em;
	overflow: hidden;
}

.app-button-title {
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
}

.tile-legend {
    font-size: 12px;
    color: grey;
    font-weight: bold;
}

.authored {
    color: grey;
    font-size: 0.8rem;
}

.desc-spaced {
    line-height: 1.35em;
}