/* App Page Edit and App Page CSS */
.inline-list li {
   width: 100%
}

.appimg{
    width: 90px;
    height: 90px;
}

.img-div {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 10px;
}

.box-release-info{
    margin-top: 20%;
    margin-bottom: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border-radius:5px;
    border: 2px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.box-resource {
    border: 2px solid #e3e3e3;
}

#app-usage-info {
  margin-top: 1em;
  margin-bottom: 3em;
}

.app-usage-info-divider {
    padding-left: 1em;
}

#app-screenshots {
	height: 170px;
	overflow-x: auto;
	overflow-y: hidden;
	-ms-overflow-x: auto;
	-ms-overflow-y: hidden;
	white-space: nowrap;
}

#app-screenshots img,a {
	border: 0;
	outline: none;
}

.panel-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1.5em;
}

#app-install-btn h6>i {
    color: white;
}

#change-url {
    text-decoration: none;
}


.rating-stars {
    position: relative;
    width: 85px;
    display: inline;
    cursor: pointer;
}

.rating-stars-empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

.rating-stars-filled {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
}

/*Custom Star Element */

x-star-rating {
    font-family: 'Ionicons';
    font-size: 28px;
    display: inline-flex;
    cursor: pointer;
}

x-star-rating > .star::after {
    content: '\f3ae';
    color: #777;
}

x-star-rating > .star.full::after {
    content: '\f2fc';
    color: #fd0;
}