{% extends "base.html" %}
{% load static %}

{% block title %}- Something is wrong. Please go back and try again{% endblock %}

{% block more_head %}
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}submit_app/css/app_summary.css"/>
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="col-md-12">
        <h2 class="text-warning-color font-weight-bold">Something is wrong. Please go back and try again.</h2>
    </div>
    <div class="pt-4 col-md-12">
        <p>We found the following information about your App:</p>
    </div>
    <div class="pl-5 col-md-12">
        <table class="table text-justify">
            <tr>
                 <td>
                    <b>You submitted:</b>
                 </td>
            <td> {{ pending.release_file_name }}</td>
            </tr>
            <tr>
                <td>
                    <b>Bundle-Name:</b>
                </td>
                <td>{{ pending.Bundle_Name }}
                    <button id="tooltip-1" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="right" data-html = "true" data-trigger="toggle" data-html="true">
                         <i class="fa fa-info-circle" style="font-size: 30px"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Bundle-SymbolicName:</b>
                </td>
                <td>{{ pending.Bundle_SymbolicName }}
                    <button id="tooltip-2" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="right" data-html = "true" data-trigger="toggle" data-html="true">
                         <i class="fa fa-info-circle" style="font-size: 30px"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Bundle-Version:</b>
                </td>
                <td>{{ pending.Bundle_Version }}
                    <button id="tooltip-3" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="right" data-html = "true"  data-trigger="toggle" data-html="true">
                         <i class="fa fa-info-circle" style="font-size: 30px"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Summary:</b>
                </td>
                <td>
                    {{ app_summary | safe }}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <p>
           If you need help, post a question to the <a href="https://groups.google.com/g/igb-app-developers">IGB App Developers Google Group.</a>
        </p>
    </div>
</div>
<script src="{% get_static_prefix %}common/js/doc_link.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}submit_app/js/app_summary.js"></script>
{% endblock %}
